body,html{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    background: #000000;
}
.mLNav{
    width: 100%;
    height: 70px;
    background: url(../images/nav_bg.png) no-repeat center;
    .box{
        width: 1200px;
        height: 70px;
        margin:0 auto;
        .navs{
            width: 1200px;
            margin:0 auto;
            .logo{
                width:142px ;
                height: 70px;
                position: relative;
                left: 35px;
                margin-right: 74px;
                img{
                    position: absolute;
                    top: 23px;
                    left: 0;
                    width:142px ;
                }
            }
            .nav{
                li{
                    a{
                        display: block;
                        padding: 22.5px 0;
                        width: 137px;
                        text-align: center;
                        font:17px/23px "微软雅黑";
                        color: #ffffff;
                        border-bottom: 2px solid transparent;
                        span,em{
                            display: block;
                        }
                        span{
                            font:17px/23px "微软雅黑";
                            color: #ffffff;
                        }
                        em{
                            font:8px/14px "微软雅黑";
                            color: #ffffff;
                        }
                    }
                    a:hover{
                        color: #e2c47f;
                        border-bottom: 2px solid #d8b665;
                    }
                    .on{
                        color: #e2c47f;
                        border-bottom: 2px solid #d8b665;
                    }
                }
            }
            .wx{
                padding-top:18px ;
                margin-right: 82px;
                position: relative;
                cursor: pointer;
                dt{    
                   width: 34px;
                   margin-right: 15px;
                   height: 34px;    
                   margin-top: 3px;
                   background:url(../images/h_weixin_08.png) no-repeat center;   
                   
                   
                }
                dd{
                    font:16px/20px "微软雅黑";
                    color: #eae9e9;
                }
                .code{
                    position: absolute;
                    top:76px;
                    left: -39px;
                    width: 108px;
                }
            }
        }
    }
}
.mBanner{
    width: 100%;
    height: 829px;
    background: url(../images/banner_02.jpg) no-repeat center;
    
    .downloads{
        width: 800px;
        height:174px ;
        margin:0 auto;
        padding-top: 655px;
        padding-left: 400px;
        .infoTop{
            .ico{
                margin-right: 38px;
                img{
                    height: 122px;
                }
            }
            .dWBtn{
                li{
                    a{
                        display: block;
                        width: 214px;
                        height:60px;
                        margin-bottom:6px;
                        border-radius: 30px;
                    }
                    .android{
                        background: url(../images/banner_anzhuodown_03.png) no-repeat center;
                        background-size:cover ;
                    }
                    .ios{
                        background: url(../images/banner_appdown_03.png) no-repeat center;
                        background-size:cover ;
                        margin-bottom:0px;
                    }
                }
            }
        }
        .infoBot{
            width: 227px;
            height: 28px;
            border-radius: 6px;
            overflow: hidden;
            span{
                width: 167px;
                background: #fff;
                font:12px/28px "微软雅黑";
                color: #7d7d7c;
                text-align: center;
            }
            a{
                width: 60px;
                background: #ebd690;
                font:12px/28px "微软雅黑";
                color: #7d7d7c;
                text-align: center;
            }
        }
    }
    .code{
        width: 124px;
        margin-left: 14px;
        margin-top: 3px;
        img{
            width: 100%;
        }
    }
}
.strategy{
    width: 100%;
    height: 920px;
    background: url(../images/fir_bg_02.jpg) no-repeat center;
    .box{
        width: 1200px;
        height: 867px;
        margin:0 auto;
        padding-top:53px ;
        h2{
            width: 100%;
            img{
                height: 80px;
                padding:30px 0;
                margin:0 auto;
            }
        }
        .container{
            width: 791px;
            height:512px ;
            margin:0 auto;
            background: url(../images/fir_bigkuang_32.png) no-repeat center;
            background-size:cover ;
            padding-top: 155px;
            padding-left: 111px;
            padding-right:93px ;
            .newsL{
                width: 363px;
                height: 407px;
                position: relative;
                .swiper-container{
                    width: 363px;
                    height: 407px;
                    .swiper-wrapper{
                        width: 363px;
                        height: 407px;
                        .swiper-slide{
                            width: 363px;
                            height: 407px;
                            img{
                               width: 363px;
                                height: 407px; 
                            }
                        }
                    }
                
                }
                .pagination{
                    position: absolute;
                    width: 360px;
                    height: 29px;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: right;
                    padding-right: 3px;
                    z-index: 99;
                    span{
                        width: 13px;
                        height: 13px;
                        margin: 0 15px;
                        display: inline-block;
                        cursor: pointer;
                        background: #8a8886;
                        border-radius: 7px;
                    }
                    .swiper-active-switch{
                        background: #9d8a40;
                    }
                }
            }
            .newsR{
                width: 426px;
                .newsNav{
                    height: 33px;
                    padding-bottom: 19px;
                    background: url(../images/fir_hengtiao_18.png) no-repeat center bottom;
                    ul{
                        li{
                            a{
                                display: block;
                                color: #9c9a95;
                                font: 15px/33px "微软雅黑";
                                padding:0 18px;
                                margin: 0 4px;
                            }
                            a:hover{
                                background: url(../images/fir_kuang_14.png) no-repeat center;
                                background-size:cover ;
                            }
                            .on{
                                background: url(../images/fir_kuang_14.png) no-repeat center;
                                background-size:cover ; 
                            }
                        }
                    }
                    .more{
                        a{
                            color: #9c9a95;
                            font: 15px/33px "微软雅黑";
                            padding:0 5px;
                        }
                        a:hover{
                            color: #9e923b;
                        }
                    }
                }
                .info{
                  .per{
                      padding-top: 18px;
                      li{
                          a{
                            display: block;
                            padding-left: 28px;
                            font:14px/58px "微软雅黑";
                            color: #9e923b;
                            span{
                                width: 60px;
                                text-align: center;
                            }  
                            em{
                                width: 250px;
                                color: #b1b8bd;
                            }   
                            i{
                                width: 70px;
                                text-align: right;
                            }                         
                          }
                          a:hover{
                              background: url(../images/fir_guangyun_20.png) no-repeat 15px center;
                          }
                      }
                  }  
                }
            }
        }
    }
}
.introduce{
    width: 100%;
    height: 1204px;
    background: url(../images/sec_bg_04.jpg) no-repeat center;
    .box{
        width: 1200px;
        height: 1224px;
        margin:0 auto;
        position: relative;
        h2{
            width: 100%;
            margin-bottom: 31px;
            img{
                height: 80px;
                padding:50px 0;
                margin:0 auto;
            }
        }
        .xq{
            width: 1048px;
            height: 1000px;
            padding-left: 152px;
            .per{
                width: 100%;
                height: 100%;
                position: relative;
                .skills{
                    width: 366px;
                    height: 1000px; 
                    h3{
                        width: 366px;
                        height: 110px;
                        text-align: center;
                        font-size: 0;
                        margin-bottom: 214px;
                        span,em,i{
                            display: inline-block;
                            height: 110px;
                            vertical-align: top;
                        }
                        span,i{
                            width: 81px;
                            img{
                                height: 110px;
                            }
                        }
                        em{
                           width: 137px; 
                           font: 28px/110px "微软雅黑";
                           color: #f1f0d4;
                           text-shadow: 0px 0px 20px #f1f0d4;
                        }
                    }
                    .info{
                        width: 100%;
                        height: 208px;
                        font: 18px/32px "微软雅黑";
                        color: #a9aeaf;
                    }
                    .skill{
                        width: 100%;
                        height: 440px;
                        .skillTop{
                            text-align: center;
                            font-size: 0;
                            height: 130px;
                            li{
                                display: inline-block;
                                vertical-align: top;
                                margin:0 16px;
                                width: 83px;
                                height: 83px;
                                border-radius: 42px;
                                overflow: hidden;
                                cursor: pointer;
                                border: 2px solid transparent;
                                img{
                                    width:83px ;
                                }
                            }
                            li:hover{
                               border: 2px solid #ffee5c; 
                            }
                            .on{
                                border: 2px solid #ffee5c; 
                            }
                        }
                        .skillBot{
                            li{
                                font:14px/28px "微软雅黑";
                                color: #ffffff;
                            }
                        }
                    }
                }
                .role{
                    position: absolute;
                    right: -250px;
                    top: 0;
                    width: 930px;
                    height: 992px;
                    img{
                        height: 100%;
                    }
                }
            }
        }
        .btns{
            .btn{
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 42px;
                height: 84px;
                cursor: pointer;
                overflow: hidden;
                img{
                    width: 100%;
                }
                h3{
                    width: 20px;
                    height: 40px;
                    border:22px solid #d2d2d2;
                    transform: rotateZ(45deg);
                }
            }
            .btnPrev{
                left: 0;
            }
            .btnNext{
                right: 0;
            }
        }
        .career{
            position: absolute;
            left:135px;
            top: 400px;
            width: 434px;
            height: 110px;
            text-align: center;
            font-size:0 ;
            li{
                display: inline-block;
                vertical-align: text-bottom;
                height: 110px;
                width: 107px;
                cursor: pointer;
                background-size:cover ;
            }
            .green{
                background: url(../images/sec_hzlv_15.png) no-repeat center;
            }
            .green:hover{
                background: url(../images/sec_hzlv1_15.png) no-repeat center;
            }
            .red{
                background: url(../images/sec_hzhong_15.png) no-repeat center;
            }
            .red:hover{
                background: url(../images/sec_hzhong1_15.png) no-repeat center;
            }
            .orange{
                background: url(../images/sec_hzcheng_15.png) no-repeat center;
            }
            .orange:hover{
                background: url(../images/sec_hzcheng1_15.png) no-repeat center;
            }
            .purple{
                background: url(../images/sec_hzzi_15.png) no-repeat center;
            }
            .purple:hover{
                background: url(../images/sec_hzzi1_15.png) no-repeat center;
            }
        }
    }
}
.game{
    width: 100%;
    height: 1125px;
    background: url(../images/thr_bg_05.jpg) no-repeat center;
    .box{
        width: 1200px;
        height: 1125px;
        margin:0 auto;
        position: relative;
        h2{
            width: 100%;
            padding-top: 30px;
            margin-bottom: 32px;
            img{
                height: 80px;
                padding:24px 0;
                margin:0 auto;
            }
        }
        .games{
            width: 920px;
            height: 765px;
            margin:0 auto;
            li{
                cursor: pointer;
                h3{
                    width: 100px;
                    height:513px ;
                    background:rgba(17,89,83,0.6);
                    padding-top: 220px;
                    span,em{
                        display: block;
                    }
                    span{
                        height: 88px;
                        margin-bottom: 132px;
                        font: 40px/88px "微软雅黑";
                        color: #698c8b;
                        text-align: center;
                    }
                    em{
                        
                        height: 513px;
                        img{
                            height: 513px;
                        }
                    }
                }
                h4{
                    position: relative;
                    width: 548px;
                    height:733px ;
                    border: 1px solid #3cbeb5;
                    span{
                        width: 548px;
                        height:733px ;
                        img{
                            width: 100%;
                        }
                    }
                    i{
                        position: absolute;
                        left:-69px;
                        top:-32px;
                        width: 546px;
                        height: 731px;
                        
                    }
                }
            }
        }
    }
}
//新闻资讯中的样式
.newsBan{
    width: 100%;
    height: 1481px;
    background: #082b28;
    .ban{
        width: 100%;
        margin:0 auto;
        height: 479px;
        background:#052321 url(../images/news_bg1_02.jpg) no-repeat center;
    }
    .info{
        width: 100%;
        min-height:1002px ;
        background:#052321 url(../images/news_bg_02.jpg) no-repeat top center;
        margin: 0 auto;
        position: relative;
        .box{
            width: 1168px;
//          height: 1002px;
            padding:0 16px;
            position: relative;
            left: 0;
            top:-227px ;
            right: 0;
            margin:auto;
            .infoL{
                width: 350px;
                height: 597px;
                padding-top: 3px;
                
                background:#39615c;
                h2{
                    font:21px/92px "微软雅黑";
                    color: #dae9e4;
                    text-align: left;
                    text-indent: 24px;
                }
                dl{
                    width:248px ;
                    margin:0 auto;
                    dt{
                        width:248px ;
                        height: 248px;
                        margin-bottom: 28px;
                        img{
                            width:248px ;
                        }
                    }
                    dd{
                        width:248px ;
                        height: 71px;
                        margin:10px 0;
                        img{
                            width:248px ;
                        }
                        a{
                            display: block;
                            width:248px ;
                            height: 71px;
                        }
                        .ios{
                            background: url(../images/news_appdown_60.png) no-repeat center;
                            background-size:cover ;
                        }
                        .ios:hover{
                            background: url(../images/news_appdown_60.png) no-repeat center;
                            background-size:cover ;
                        }
                        .android{
                            background: url(../images/news_anzhuodown_66.png) no-repeat center;
//                          background-size:cover ;
                        }
                        .android:hover{
                            background: url(../images/news_anzhuodown_66.png) no-repeat center;
//                          background-size:cover ;
                        }
                    }
                    .share{
                        margin-top: 16px;
                        a{
                            width: 0;
                            height: 0;
                            display: inline;
                        }
                    }
                }
            }
            .infoR{
                width: 582px;
//              height: 1115px;
                background: #ffffff;
                padding:36px 108px 0 108px;
                .comTitle{
                    font: 30px/50px "微软雅黑";
                    text-align: center;
                }
                .title{
                    width: 581px;
                    height:34px ;
                    border-bottom: 2px solid #CCCCCC;
                    h2{
                        width: 240px;
                        height: 34px;
                        font:23px/34px "微软雅黑";
                        color: #2d9376;
                        text-align: left;
                    }
                    ul{
                        li{
                            float: left;
                            a{
                                display: block;
                                font:18px/34px "微软雅黑";
                                color: #2d9376;
                                margin:0 24px;
                                border-bottom: 2px solid transparent;
                            }
                            a:hover{
                                color: #01352f;
                                border-bottom: 2px solid #01352f;
                            }
                            .on{
                                color: #01352f;
                                border-bottom: 2px solid #01352f;
                            }
                        }
                        li:last-child{
                            a{
                                margin-right: 0;
                            }
                        }
                    }
                }
                .detailInfo{
                    width: 100%;
                    h3{
                        text-align: right;
                        font:14px/46px "微软雅黑";
                        color: #9ee5ce;
                        a{
                            font:14px/46px "微软雅黑";
                            color: #9ee5ce;
                            text-align: right; 
                        }
                    }
                    .container{
                        position: relative;
                        .newsInfoTitle{
                            border-bottom: 1px dashed #b5b5b5;
                            margin-top: 10px;
                            span{
                                font: 29px/59px "微软雅黑";
                                color: #57a991;
                            }
                            a{
                                font:19px/59px "微软雅黑";
                                color: #a3abaa;
                            }
                        }
                        .time{
                            font: 15px/41px "微软雅黑";
                            color: #57a991;
                            text-align: left;
                            margin-bottom: 20px;
                        }
                        .infos{
                            p{
                                font:18px/41px "微软雅黑";
                                color: #57a991;
                            }
                        }
                        .infoBtn{
                            margin-top: 100px;
                            margin-bottom: 50px;
                            a{
                                font:18px/30px "微软雅黑";
                                color: #a3abaa;
                            }
                            a:hover{
                                color: #39605c;
                            }                            
                        }
                        .news{
                            position: relative;
                            padding-bottom: 135px;
                            min-height: 600px;
                            .per{
                                .par{
                                    display: block;
                                    font:19px/68px "微软雅黑";
                                    color: #666666;
                                    border-bottom: dashed 1px #b8b8b8;
                                    span{
                                        width: 420px;
                                    }
                                    em{
                                        text-align: right;
                                    }
                                    .zlL{
                                        width: 420px;
                                        h3{
                                            width: 420px;
                                            font: 24px/54px "微软雅黑";
                                            color: #57a991;
                                            text-align: left;
                                        }
                                        h4{
                                            font:18px/30px "微软雅黑";
                                            color: #999999;
                                            max-height: 60px;
                                            position: relative;
                                            overflow: hidden;
                                            margin-bottom: 14px;
                                        }
                                        h4::after{
                                            content: "..."; 
                                            position: absolute; 
                                            bottom: 0; 
                                            right: 0;
                                            line-height: 30px;
                                            padding-left: 30px;
                                            background: -webkit-linear-gradient(left, transparent, #fff 55%);
                                            background: -o-linear-gradient(right, transparent, #fff 55%);
                                            background: -moz-linear-gradient(right, transparent, #fff 55%);
                                            background: linear-gradient(to right, transparent, #fff 55%);
                                        }
                                    }
                                    .zlR{
                                        width: 70px;
                                        position: relative;
                                        height: 128px;
                                        img{
                                            position: absolute;
                                            top: 0;
                                            bottom: 0;
                                            right: 0;
                                            margin: auto;
                                        }
                                    }
                                }
                                .par:hover{
                                    color: red;
                                }
                            }
                            
                        }
                    }
                    .pages{
                        text-align: center;
                        font-size: 0;
                        height: 75px;
                        position: absolute;
                        bottom:0;
                        left: 0;
                        right: 0;
                        margin:auto;
                        li{
                            display: inline-block;
                            vertical-align: top;
                            a{
                                display: block;
                                width: 34px;
                                height: 34px;
                                text-align: center;
                                font-size: 10px;
                                color: #38605b;
                                line-height: 34px;
                                margin:0 8px;
                                border: 1px solid #38605b;
                                font-family: "微软雅黑";
                            }
                            a:hover{
                                background:#38605b ;
                                color: #fff;
                            }
                            .comPageOn{
                                background:#38605b ;
                                color: #fff;
                            }
                        }
                        span,em,i,b{
                            display: inline-block;
                            font-size: 10px;
                            color: #38605b;
                            line-height: 34px;
                            margin:0 8px;
                            font-family: "微软雅黑";
                        }
                    }
                }
            }
        }
    }
}
.share{
    width: 256px!important;
    .jiathis_style{
        .jtico{
            height: 16px!important;
            width: 20px!important;
            padding-left: 0!important;
            margin:0 4px;
        }
        .jtico_tsina{
            background: url(../images/weibo_63.png) no-repeat left!important;
            background-size:cover ;
            height: 30px!important;
            width: 30px!important;
        }
        .jtico_cqq{
            background: url(../images/QQ_63.png) no-repeat left!important;
            background-size:cover ;
            height: 30px!important;
            width: 30px!important;
            margin:0 4px;
        }
        .jtico_weixin{
            background: url(../images/weixin_06.png) no-repeat left!important;
            background-size:cover ;
            height: 30px!important;
            width: 30px!important;
            margin:0 4px;
        }
        .jiathis_txt{
           line-height: 30px!important; 
           margin:0 4px;
           color: #fff;
           font-size: 16px;
        }
    }
}
  